*.classpath
*.project
*.class
hs_err_pid*
/target
/.settings
src/test/resources/frag.spv
src/test/resources/vert.spv
src/test/resources/frag.spv
*.spv
*.model
*.model
src/test/resources/demo/model/chalet.model
.classpath
